{% extends "layouts/admin_base.html" %}

{% from "macros/_misc.html" import render_flash_message %}
{% block body %}
<div class="container">
   <div id="tab_li">
    	<ul>
        	<li><a href="{{ url_for('admin.news_index') }}">文章管理</a></li>
            <a href="{{ url_for('admin.category_index') }}"><li class="active">分类管理</li></a>
        </ul>
    </div>
    <div class="control-group">
        <div class="controls"></div>
    </div>
    <div class="table_tit">编辑分类</div>
    <div id="list_zoom">
    	<div class="table_con active">
        <form method="POST" class="form-horizontal">
        {{ form.csrf_token }}
            <div class="control-group">
                <label class="control-label" for="name">名称</label>
                <div class="controls">
                    <input id="name" name="name" type="text" value="{{ category.name }}">
                </div>
            <div>
            <div class="control-group">
                <div class="controls">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="code">编码</label>
                <div class="controls">
                    <input id="code" name="code" type="text" value="{{ category.code }}">
                </div>
            <div>
            <div class="control-group">
                <div class="controls">
                </div>
            </div>
            <div class="form-button">
                <button type="submit">提交</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}