{% extends "layouts/admin_base.html" %}

{% from "macros/_misc.html" import render_flash_message %}
{% block body %}
{% block css_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='editor/themes/default/default.css') }}">
{% endblock %}

<div class="container">
    <div id="tab_li">
    	<ul>
       		<li class="active"><a href="{{ url_for('admin.image_manager') }}">幻灯片管理</a></li>
            <a href="{{ url_for('admin.widget_index') }}"><li>小组件管理</li></a>
        </ul>
    </div>
    <div class="control-group">
        <div class="controls"></div>
    </div>
    <div class="table_tit">上传图片</div>
    <div id="list_zoom">
    	<div class="table_con active">
        <form method="POST" class="form-horizontal" action="" enctype="multipart/form-data" >
            {{ form.csrf_token }}
            <div class="control-group">
                <label class="control-label" for="upload1">选择文件</label>
                <div class="controls">
                    {{ form.file }}
                    {% if err %}
                    <span style="color:red">{{ err }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="target_url">目标链接</label>
                <div class="controls">
                    <input name="target_url" type="text" value="">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="is_hidden">是否显示</label>
                <div class="controls">
                    <input id="is_hidden" name="is_hidden" type="checkbox" checked="true" value="y">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                </div>
            </div>
            <div class="form-button">
                <button type="submit">提交</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footerjs %}
<script type="text/javascript" src="{{ url_for('static', filename='editor/kindeditor.js') }}"></script>
<script type="text/javascript">
KindEditor.ready(function(K) {
    var uploadbutton = K.uploadbutton({
        button : K('#upload1')[0],
        fieldName : 'image',
        url : "{{ url_for('admin.upload') }}",
        afterUpload : function(data) {
            if (data.error === 0) {
                var url = K.formatUrl(data.url, 'absolute');
                K('#img1').val(url);
                $('#himg1').attr('src', url);
            } else {
                alert(data.message);
            }
        },
        afterError : function(str) {
            alert('自定义错误信息: ' + str);
        }
    });
    uploadbutton.fileBox.change(function(e) {
        uploadbutton.submit();
    });
    });
</script>
{% endblock %}