{% extends "layouts/admin_base.html" %}

{% from "macros/_misc.html" import render_flash_message %}
{% block body %}

<div class="container">
	<div id="tab_li">
    	<ul>
       		<li class="active"><a href="{{ url_for('admin.image_manager') }}">幻灯片管理</a></li>
            <a href="{{ url_for('admin.widget_index') }}"><li>小组件管理</li></a>
        </ul>
    </div>
    {{ render_flash_message() }}
    <div id="list_zoom">
    	<div class="table_con active">
    	<div class="operation-button"><a href="{{ url_for('admin.image_upload') }}">上传图片</a></div>
        <table class="table" border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>跳转URL</th>
                    <th>目标链接</th>
                    <th>是否隐藏</th>
                    <th>上传时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pagination.items  %}
                    <tr>
                        <td><b>{{ loop.index }}</b></td>
                        <td class="lightbox"><b><a href="{{ url_for('frontend.uploads', filename=page.file_name) }}" target="_blank"> {{ page.file_url }}</a></b></td>
                        <td><a target="_blank" href="{{ page.target_url }}">{{ page.target_url|replace(None, '') }}</a> </td>
                        <td>
                            {% if page.is_hidden %}
                                显示
                            {% else %}
                                隐藏
                            {% endif %}
                        </td>
                        <td>{{ page.add_time }}</td>
                        <td>{{ page.update_time | replace(None, '') }}</td>
                        <td>
                        	<a href="{{ url_for('admin.upload_edit', upload_id=page.id) }}">编辑</a>
                        	{% if page.is_hidden == 1 %}
                            <a href="{{ url_for('admin.image_show', img_id=page.id) }}">隐藏</a>
                            {% else %}
                            <a href="{{ url_for('admin.image_hide', img_id=page.id) }}">显示</a>
                            {% endif %}
                            <a href="{{ url_for('admin.image_on_the', sort=page.sort) }}">上移</a>
                            <a href="{{ url_for('admin.image_under_the', sort=page.sort) }}">下移</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination pagination-centered">
              <ul>
                  {% if pagination.pages>1 %}
                    <li><a href="{{ url_for('admin.image_manager') }}?page=1">首页</a></li>
                    {% endif %}
                  {% if pagination.has_pre %}
                      <li><a href="{{ url_for('admin.image_manager') }}?page={{ pagination.prev_num }}">上一页</a></li>
                  {% endif %}
                  {% for page in pagination.iter_pages() %}
                     {% if not page %}
                         <li><a>...</a></li>
                     {% elif page == pagination.page %}
                         <li class="active">
                         <a href=""> {{ page }}</a>
                         </li>
                     {% else %}
                     <li><a href="{{ url_for('admin.image_manager') }}?page={{ page }}">{{ page }}</a></li>
                     {% endif %}
                  {% endfor %}
                  {% if pagination.has_next %}
                    <li><a href="{{ url_for('admin.image_manager') }}?page={{ pagination.next_num }}">下一页</a></li>
                  {% endif %}
                  {% if pagination.pages>1 %}
                    <li><a href="{{ url_for('admin.image_manager') }}?page={{ pagination.pages }}">尾页</a></li>
                  {% endif %}
              </ul>
        </div>
    </div>
	</div>
</div>
{% endblock %}