{% extends "layouts/admin_base.html" %}
{% from "macros/_misc.html" import render_flash_message %}
{% block body %}
    <div class="container">
    {{ render_flash_message() }}
    	<div id="tab_li">
    	<ul>
            <li><a href="{{ url_for('admin.image_manager') }}">幻灯片管理</a></li>
            <a href="{{ url_for('admin.widget_index') }}"><li class="active">小组件管理</li></a>
        </ul>
    	</div>
    	<div id="list_zoom">
        	<div class="table_con active">
        	<div class="operation-button"><a href="{{ url_for('admin.widget_add') }}">新增小组件</a></div>
            <table class="table" border="0" cellspacing="0" cellpadding="0">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>位置</th>
                    <th>显示状态</th>
                    <th>添加时间</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for page in pagination.items  %}
                    <tr>
                        <td><b>{{ loop.index }}</b></td>
                        <td><b>{{ page.title }}</b></td>
                        <td>{{ page.position }}</td>
                        <td>
                            {% if page.is_hidden == 1 %}
                                隐藏
                            {% else %}
                                显示
                            {% endif %}
                        </td>
                        <td>{{ page.add_time }}</td>
                        <td>{{ page.update_time | replace(None, '') }}</td>
                        <td>
                        	<a href="{{ url_for('admin.widget_edit', widget_id=page.id) }}">编辑</a>
                        	{% if page.is_hidden == 1 %}
                            <a href="{{ url_for('admin.widget_show', widget_id=page.id) }}">显示</a>    
                            {% else %}
                            <a href="{{ url_for('admin.widget_hide', widget_id=page.id) }}">隐藏</a>    
                            {% endif %}
                            <a href="{{ url_for('admin.widget_on_the', order=page.order) }}">上移</a>
                            <a href="{{ url_for('admin.widget_under_the', order=page.order) }}">下移</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <ul>                    
                  {% if pagination.pages>1 %}
                  <li><a class="opage" href="1">首页</a></li>
                  {% endif %}
                  {% if pagination.has_prev %}
                      <li><a class="opage" href="{{ pagination.prev_num }}">上一页</a></li>
                  {% endif %}

                  {% for page in pagination.iter_pages() %}
                     {% if not page %}
                        <li><a>...</a></li>
                     {% elif page == pagination.page %}
                         <li class="active">
                         <a class="opage" href="{{ page }}" > {{ page }}</a>
                         </li>
                     {% else %}
                        <li><a class="opage" href="{{ page }}">{{ page }}</a></li>
                     {% endif %}
                  {% endfor %}

                  {% if pagination.has_next %}
                    <li><a class="opage" href="{{ pagination.next_num }}">下一页</a></li>
                  {% endif %}
                  {% if pagination.pages>1 %}
                  <li><a class="opage" href="{{ pagination.pages }}">尾页</a></li>
                  {% endif %}
                </ul>
            </div>
        </div>
    	</div>
    </div>
<script>  
$(document).ready(function () {
	$(".opage").click(function(e){
		e.preventDefault();
        var page_num = $(this).attr('href');
        var url = "{{ url_for('admin.widget_index') }}"; 
        url += '?page='+ page_num;
        console.log(url);
        window.location.href = url;
	});
});
</script>
{% endblock %}
