<!DOCTYPE html>
<html ng-app>
<head lang="cn" ng-controller="HeadController">
    <meta charset="UTF-8">
    <script src="http://cdnjscn.b0.upaiyun.com/libs/angular.js/1.2.18/angular.min.js"></script>
    <script src="{{url_for('admin.static', filename='js/controllers.js')}}"></script>
    <title ng-bind="site.title"></title>
</head>

<body>

    <div ng-controller="HeaderController">
        <img ng-src="{{site.logo|angular}}" />
        <h1 ng-bind="site.title"></h1>
    </div>

    <div ng-controller="SidebarController">
        <ul>
            <li ng-repeat="item in menu">
                <a ng-href="{{item.href|angular}}">{{item.name|angular}}</a>
            </li>
        </ul>
    </div>

    <div ng-controller="ContainerController">

    </div>

    <div ng-controller="FooterController">

    </div>



</body>

</html>