<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="utf-8">
<title>{{ news.title }}-广东彩惠智能科技有限公司</title>
<link href="{{ url_for('static', filename='mobile/styles/main.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='mobile/scripts/jquery-1.4.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mobile/scripts/main.js') }}"></script>
</head>
<body>
<div id="header-wrapper">
    <div class="goback"><a href="{{ url_for('frontend.aboutme') }}?cate_id={{ cate_id }}"></a><span>{{ cate_id|format_category_id }}</span></div>
    <div id="search_icon" hidefocus=true>
        <em class="square"></em>
    </div>
    <div class="clearfix"></div>
</div>
<div class="search_modal">
    <input type="text" id="search_val"><button type="submit" class="search_btn" id="search_btn">搜索</button>
</div>
<p class="warpper-article_title">{{ news.title }}</p>
<div id="main">
    <div class="article_box">
        <div class="article">
        {% autoescape false %}
        	{{ news.content|filter_style }}
        {% endautoescape %}
        </div>
    </div>
</div>
{% include "_include/_mobile_foot.html" %}
</body>
</html>