/*
 * jQuery Blueberry Slider v0.4 BETA
 *
 */

.slider {width: 100%; margin: 10px auto 0px auto;overflow: hidden; }
.slider .slides {
	display: block;
	position: relative;
	overflow: hidden;
}
.slider .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.slider .slides li img {
	display: inline-block;
	max-width: none;
}
.slider .slides li.active { display: block; position: relative; }
.slider .crop li img { width: auto; }

ul.pager {
	height: 40px;
	text-align: center;
    display: none;
}
.slider .pager li { display: none; }
.slider .pager li a,
.slider .pager li a span {
	display: block;
	height: 4px;
	width: 4px;
}
.slider .pager li a {
	padding: 18px 8px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
	border-radius: 6px;
}
.slider .pager li a span {
	overflow: hidden;
	background: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
	border-radius: 2px;
}
.slider .pager li.active a span { background: #404040; }
