{% extends "layouts/index_base.html" %}

{% block body %}
<div class="container">
    <div class="contain_left">
        <div class="menu">
            <ul>
                {% for item in news %}
                    <li {% if loop.index0 < 1 %}class="active"{% endif %}><a href="#{{ item.title_code }}" data-toggle="tab">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="contain_right" id="myTabContent">
        {% for item in news %}
            <div class="tab-pane active" id="{{ item.title_code }}">
                {% autoescape false %}
                    {{ item.content }}
                {% endautoescape %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
