<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="utf-8">
<title>开奖信息</title>
<link href="{{ url_for('static', filename='weixin/styles/main.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <div class="lottery_top">开奖信息</div>
</div>
<div id="main">

    <a href="lottery.html" class="lottery_list">
        <div class="game_info">
            <span class="gameperiod">双色球</span>
            <span class="gametime">第2014021期</span>
        </div>
        <p class="numList">
            <em>08</em>
            <em>10</em>
            <em>15</em>
            <em>17</em>
            <em>22</em>
            <em>29</em>
            <em class="blue">12</em>
            <em> > </em>
        </p>
    </a>

    <a href="lottery.html" class="lottery_list">
        <div class="game_info">
            <span class="gameperiod">大乐透</span>
            <span class="gametime">第2014021期</span>
        </div>
        <p class="numList">
            <em>08</em>
            <em>10</em>
            <em>15</em>
            <em>17</em>
            <em>22</em>
            <em class="blue">12</em>
            <em class="blue">10</em>
            <em> > </em>
        </p>
    </a>

    <a href="lottery.html" class="lottery_list">
        <div class="game_info">
            <span class="gameperiod">排列三</span>
            <span class="gametime">第2014021期</span>
        </div>
        <p class="numList">
            <em>08</em>
            <em>10</em>
            <em>15</em>
            <em> > </em>
        </p>
    </a>

    <a href="lottery.html" class="lottery_list">
        <div class="game_info">
            <span class="gameperiod">排列五</span>
            <span class="gametime">第2014021期</span>
        </div>
        <p class="numList">
            <em>08</em>
            <em>10</em>
            <em>15</em>
            <em>17</em>
            <em>22</em>
            <em> > </em>
        </p>
    </a>
</div>
</body>
</html>