<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="utf-8">
<title>投注指南</title>
<link href="{{ url_for('static', filename='weixin/styles/main.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main">
    <div class="box">
        <a href="http://www.gdcaihui.com/wx_news/article?cate_id=9&news_id=21">
            <div class="left"><em class="dlt"></em><p class="lottery_name">大乐透</p></div>
            <div class="news_title">超级大乐透投注指南</div>
            <div class="news_summary">“35选5加12选2”玩法属于双区选号大乐透，玩法简单易懂，彩民们在购买“35选5加12选2”时，可以从01-35共35个号码中，选取5个号码为前区号码，并从01-12共12个号码中选取2个号码为后区号码，组合为一注进行单式投注。</div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="box">
        <a href="http://www.gdcaihui.com/wx_news/article?cate_id=9&news_id=19">
            <div class="left"><em class="pls"></em><p class="lottery_name">排列三</p></div>
            <div class="news_title">排列三投注指南</div>
            <div class="news_summary">“排列三”原为“7星彩”附加玩法，自2004年12月8日起从原有的七星彩玩法中分离出来，单独使用摇奖机、摇奖球进行摇奖，“排列三”、“排列五”共同摇奖，一次摇出5个号码，“排列三”的中奖号码为当期摇出的全部中奖号码的前3位，“排列五”的中奖号码为当期摇出的全部中奖号码，每日进行开奖。</div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="box">
        <a href="http://www.gdcaihui.com/wx_news/article?cate_id=9&news_id=18">
            <div class="left"><em class="plw"></em><p class="lottery_name">排列五</p></div>
            <div class="news_title">排列五投注指南</div>
            <div class="news_summary">“排列5” 体彩的一种，从00000-99999的数字中选取1个5位数为投注号码进行投注 “排列5”设1个奖级，为固定奖。所选号码与中奖号码全部相同且顺序一致。</div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="box">
        <a href="http://www.gdcaihui.com/wx_news/article?cate_id=9&news_id=16">
            <div class="left"><em class="ssq"></em><p class="lottery_name">双色球</p></div>
            <div class="news_title">双色球投注指南</div>
            <div class="news_summary">“双色球”是中国福利彩票发行中心推出的全国联合销售的乐透型彩票</div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="box">
        <a href="http://www.gdcaihui.com/wx_news/article?cate_id=9&news_id=17">
            <div class="left"><em class="f3d"></em><p class="lottery_name">福彩3D</p></div>
            <div class="news_title">福彩3D投注指南</div>
            <div class="news_summary">3D玩法是以一个3位自然数为投注号码的彩票，投注者从000~999的数字中选择一个三位数进行投注</div>
            <div class="clearfix"></div>
        </a>
    </div>
    <div class="box">
        <a href="http://www.gdcaihui.com/wx_news/article?cate_id=9&news_id=20">
            <div class="left"><em class="y11"></em><p class="lottery_name">广东11选5</p></div>
            <div class="news_title">广东11选5投注指南</div>
            <div class="news_summary">广东11选5（新11选5）是一种在线即开型彩票玩法，属于基诺型彩票范畴，由省体育彩票管理中心负责承销。</div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>
</body>
</html>