<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="utf-8">
<title>双色球历史数据</title>
<link href="{{ url_for('static', filename='weixin/styles/main.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <div class="lottery_top">双色球</div>
</div>
<div id="main">

    <div class="lottery_list">
        <div class="game_info">
            <span class="gameperiod">第2014021期</span>
            <span class="gametime">2014-02-27</span>
        </div>
        <p class="numList">
            <em>08</em>
            <em>10</em>
            <em>15</em>
            <em>17</em>
            <em>22</em>
            <em>29</em>
            <em class="blue">12</em>
        </p>
    </div>

    <div class="lottery_list">
        <div class="game_info">
            <span class="gameperiod">第2014021期</span>
            <span class="gametime">2014-02-27</span>
        </div>
        <p class="numList">
            <em>08</em>
            <em>10</em>
            <em>15</em>
            <em>17</em>
            <em>22</em>
            <em>29</em>
            <em class="blue">12</em>
        </p>
    </div>

    <div class="lottery_list">
        <div class="game_info">
            <span class="gameperiod">第2014021期</span>
            <span class="gametime">2014-02-27</span>
        </div>
        <p class="numList">
            <em>08</em>
            <em>10</em>
            <em>15</em>
            <em>17</em>
            <em>22</em>
            <em>29</em>
            <em class="blue">11</em>
        </p>
    </div>

    <div class="lottery_list">
        <div class="game_info">
            <span class="gameperiod">第2014021期</span>
            <span class="gametime">2014-02-27</span>
        </div>
        <p class="numList">
            <em>08</em>
            <em>10</em>
            <em>15</em>
            <em>17</em>
            <em>22</em>
            <em>29</em>
            <em class="blue">12</em>
        </p>
    </div>
</div>
</body>
</html>