<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="utf-8">
<title>{{ news.title }}-广东彩惠</title>
<link href="{{ url_for('static', filename='weixin/styles/main.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="main">
    <div class="box">
        <p class="news_title">{{ news.title }}</p>
        <p class="news_time">{{ news.add_time.strftime('%Y-%m-%d') }}</p>
        <div class="article">
        {% autoescape false %}
        	{{ news.content|filter_style }}
        {% endautoescape %}
        </div>
    </div>
</div>
</body>
</html>