/* CSS Document */
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,img,div
{margin:0px;padding:0px;border:0px;}
body,ul,ol,li,p,form,fieldset,table,td{font-family:"宋体";}
body{background-color:#fff;}
td,li,select,input,textarea,div{font-size:12px;}
ul,dl,li{list-style-type:none;}
select,input{vertical-align:middle;}
a{display:block;}
a:link {color: #000;text-decoration: none;}/*没被访问时*/
a:visited {color: #000;text-decoration: none;}/*已被访问过时*/
a:hover {color: #000;text-decoration: none;}/*被选中状态时*/
a:active {color: #000;text-decoration: none;}/*鼠标移动到超链接上时*/
.container{
    margin:auto;
    overflow:hidden;
    width:980px;
    min-height: 600px;
}
.space0{
    height:0px;
    overflow:hidden;
    clear:both;
    font-size:0px;
}
.space5{
    height:5px;
    overflow:hidden;
    clear:both;
    font-size:0px;
}
.space8{
    height:8px;
    overflow:hidden;
    clear:both;
    font-size:0px;
}
.space10{
    height:10px;
    overflow:hidden;
    clear:both;
    font-size:0px;
}
.header{
    width: 100%;
    margin: 0 auto;
    background-color: #d00002;
}
.header .head{
    width: 980px;
    height: 90px;
    margin: 0 auto;
}
.header .head img{
    position: relative;
    top:-8px;
}
.header .head span{
    font-size: 30px;
    color:#fff;
    line-height: 100px;
    padding-left: 15px;
    font-weight: bold;
}
.nav{
    width:100%;
    height:40px;
    margin: 0px auto;
    background-color: #000;
}
.subnav{
    margin:auto;
    overflow:hidden;
    width:980px;
}
.nav ul{
    width: 750px;
    margin: 0 auto;
    float: left;
}
.nav ul li{
    width: 90px;
    height: 30px;
    text-align: center;
    list-style: none;
    float:left;
    margin: 5px 15px 5px 0px;
}
.nav ul .active{
    background-color: #d00005;
}
.nav ul li a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}
.search{
    float: right;
    background: url(../images/seach.jpg) no-repeat;
    width: 200px;
    height:40px;
    vertical-align: middle;
    text-align: left;
}
.search input{
    border-radius: 0px;
    height: 18px;
    width: 150px;
    margin: 6px 0px 0px 0px;
    border:none;
}
.search_btn{
    background: url(../images/search_btn.jpg) no-repeat;
    width: 25px;
    height:25px;
    border:none;
    position: relative;
    top:4px;
}
.contain_left{
    clear: both;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    width: 220px;
}
.contain_right{
    float: left;
    width: 750px;
    margin-top: 20px;
}
.menu ul{
    padding: 0px;
    list-style-type: disc;
}
.menu ul li{
    float: left;
    font-size: 13px;
    line-height: 30px;
    height:30px;
    width: 100%;
    border-bottom:1px solid #d00002;
}
.menu ul li:hover{
    background-color: #fa6c6c;
    height:30px;
    width: 100%;
}
.menu ul li a{
    padding-left: 10px;
}
.menu ul li a:hover,.menu ul .active a{
    color:#fff;
}
.menu ul .active{
    background-color: #d00002;
    height:30px;
    width: 100%;
    color:#fff;
}
#myTabContent .tab-pane{
    display: none;
}
#myTabContent .active{
    display: inline;
}
.round{
    clear: both;
    padding-top: 20px;
}
.border{
    border:1px solid #d1d1d1;
    border-top:none;
    border-bottom:none;
}
.border_large_top{
    background:url(../images/border_large_top.png) no-repeat;
    height:5px;
    width:980px;
}
.border_large_bottom{
    background:url(../images/border_large_bottom.png) no-repeat;
    height:5px;
    width:980px;
}
.border_small_top{
    background:url(../images/border_small_top.png) no-repeat;
    height:5px;
    width:485px;
}
.border_small_bottom{
    background:url(../images/border_small_bottom.png) no-repeat;
    height:5px;
    width:485px;
}
.border_con{
    padding: 30px 15px 10px 15px;
}
.product_con{
    padding:10px;
}
.border_con_left{
    float:left;
}
.border_tip{
    width: 400px;
}
.border_tip .free_tip{
    padding: 90px 5px 0px 0px;
}
.free_tip ul{
    padding-left: 65px;
}
.free_tip ul li{
    font-size: 24px;
    color:#252525;
    font-weight: bold;
    text-align: left;
    list-style: disc;
    line-height: 30px;
}
.border_tip .free_tip .detail_words{
    font-size:18px;
    font-weight: bold;
    padding-top: 20px;
    color:#252525;
    padding-left: 30px;
    line-height: 35px;
}
.btn_img{
    background: url(../images/btn_img.png) no-repeat;
    border:none;
    width:163px;
}
.border_tip .konw_url{
    padding-top:68px;
    text-align: center;
}
.border_tip .know_shadow{
    text-align: center;
}
.know_more_btn{
    background-position: -169px 0px;
    height:54px;
    cursor: pointer;
}
.know_more_shadow{
    background-position: -169px -54px;
    height:30px;
}
.lottery_left{
    width:485px;
    float: left;
    clear:both;
    margin:20px 10px 0px 0px;
}
.lottery_right{
    float: left;
    background:url(../images/pic4.jpg) no-repeat;
    width:485px;
    height:340px;;
    margin:20px 0px 0px 0px;
}
.produce_intro{
    width: 150px;
    padding:0px 10px;
    font-size:14px;
    text-align: center;
}
.produce_intro .intro_tit{
    font-weight: bold;
    padding-top: 30px;
}
.produce_intro .intro_con{
    text-align: left;
    margin-top:10px;
    line-height: 24px;
}
.produce_intro .apply_url{
    padding-top: 30px;
}
.product_con .border_con_left img{
    padding:10px 0px 0px 2px;
}
.apply_btn{
    background-position: 0px 0px;
    height:54px;
    cursor: pointer;
}
.apply_shadow{
    background-position: 0px -54px;
    height:20px;
}
.transparent_bg{
    background: rgba(0, 0, 0, 0.85)!important;
    filter: Alpha(opacity=85);
    background: #000;
    width: 176px;
    float:right;
    position: relative;
    right:10px;
    top:55px;
    padding:12px;
    color:#fff;
    font-size:14px;
    text-align: center;
}
.transparent_bg .intro_tit{
    font-weight: bold;
    line-height: 30px;
}
.transparent_bg .intro_con{
    line-height: 25px;
    text-align: left;
}
.transparent_bg .apply_url{
    padding-top: 10px;
}
.tab li{
    list-style: none;
    float: left;
    width: 19%;
    height: 135px;
    text-align: center;
    vertical-align: middle;
    margin:0 auto;
}
.tab .tab_li{
    float: left;
    width:1px;
    height:144px;
    background: url(../images/tab_line.png) no-repeat right top;
    position: relative;
    top:-4px;
}
.tab li a{
    display: block;
    padding-top:13px;
    text-align: center;
}
.tab li a p{
    font-size:18px;
    line-height: 40px;
}
.modal_pop{
    position: fixed;
    left:36.5%;
}
.modal_pop{
    border:1px solid #d8d8d8;
    width: 980px;
    border-radius: 0px;
}
.modal-header{
    background:url(../images/mode_top_ng.png) repeat-x;
    height:50px;
    padding:0px;
    margin:0px;
    border:none;
}
.modal-header .close {
    font-size: 40px;
    font-family: "汉仪中圆简";
    padding-top: 10px;
    padding-right: 10px;
    line-height: 25px;
}
.modal-header h3{
    line-height: 50px;
    padding-left: 50px;
}
.modal-body{
    background-color: #ffffff;
    width: 900px;
    margin:20px auto 5px auto;
    border: 1px solid #d8d8d8;
    overflow-y: scroll;
}
.modal-body .top_tips{
    font-size:14px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
}
.modal-body .content{
    text-indent: 20px;
    font-size: 14px;
    color:#252525;
    line-height: 25px;
}
.pop_button{
    text-align: center;
    margin: 10px 0px 15px 0px;
}
.apply_con .controls{
    margin-bottom:10px;
}
.apply_con .form-horizontal .control-group{
    margin: 0px;
}
.apply_con .controls span{
    position: relative;
    top:5px;
}
.apply_con .control-group .controls .btn{
    margin-top: 20px;
}
.content .con_tit{
    font-size:16px;
    font-weight: bold;
}
.content .con_tit_small{
    font-size:14px;
    font-weight: bold;
    padding:15px 0px 0px 20px;
}
.content .con_tit_num{
    font-size:14px;
    font-weight: bold;
    padding:15px 0px;
}
.con_body table tr td img{
    width: 100%;
    height:100%;
}
.con_body table tr td{
    vertical-align: top;
    padding:0px 5px;
}
.con_body p{
    line-height: 30px;
    font-size: 14px;
    padding: 8px 0px 0px 20px;
    text-indent: 20px;
}
.certificate{
    clear:both;
    padding-top: 20px;
    padding-left: 10px;
}
.certificate img{
    float: left;
}
.terminals_con span{
    line-height: 25px;
    font-size: 12px;
    text-indent: 20px;
}
.ter_pic{
    float: right;
    padding: 0px 0px 5px 15px;
}
.index_con{
    margin: 20px 10px 0px 0px ;
    float: left;
    border: 1px solid #f6f6f6;
    height: 280px;
}
.map_con{
    margin-top: 20px;
    float: left;
    border: 1px solid #f6f6f6;
    vertical-align: middle;
    height: 280px;
}
.map_con .con_body{
    text-align: center;
}
.map_con img{
    padding:13px 0px;
}
.index_con_tit{
    background:url(../images/index_con_bg.png) repeat-x;
    width:300px;
    height:35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 18px;
}
.index_con .con_body,.map_con .con_body{
    width:318px;
    border-top: none;
}
.index_con .con_body .con_text{
    padding:10px 5px;
    line-height: 21px;
}
.index_con .index_pic{
    position: relative;
    padding:10px 10px 0px 10px;
    float: left;
}
.index_con ul{
    margin: 0px 5px;
}
.index_con ul li{
    list-style: none;
    border-bottom: 1px dotted #eee;
    line-height: 30px;
    padding-left: 5px;
}
.footer{
    width: 980px;
    text-align: center;
    margin: 10px auto;
    background-color: #fffafa;
	border-top: 1px solid #EEE;
	line-height:40px;
}
.footer a{
	display:inline-block;
	padding-right:10px;
}
.footer a:hover{color:#f00;text-decoration:underline;}
/*---------focus首页图片轮播--------------*/
#focus{width:980px;height:300px;overflow:hidden;position:relative;margin-top: 20px;}
#focus ul{height:300px;position:absolute;}
#focus ul li{float:left;width:980px;height:300px;overflow:hidden;position:relative;background:#000;}
#focus ul li div{position:absolute;overflow:hidden;}
#focus .btnBg{position:absolute;width:980px;height:20px;left:0;bottom:0;background:#000;}
#focus .btn_zoom{position:absolute;width:960px;right:8px;bottom:4px;padding:0px;margin:0px;cursor:auto;text-align:right;background:none;border:none;line-height: 0px;}
#focus .btn_zoom span{display:inline-block;_display:inline;_zoom:1;width:25px;height:10px;_font-size:0;margin-left:8px;cursor:pointer;background:#fff;}
#focus .btn_zoom span.on{background:#fff;}
#focus .preNext{width:45px;height:100px;position:absolute;top:90px;background:url(img/sprite.png) no-repeat 0 0;cursor:pointer;}
#focus .pre{left:0;}
#focus .next{right:0;background-position:right top;}
